doctype html
html
    head
        style 
            include ../public/css/css/bootstrap.min.css
        title= title
        
    body
        div.row.justify-content-center
            div.col-md-6
                div.card-body
                    block content
    footer.row.justify-content-center
        div.col-md-6
            block footer
                div.col-md-12 © 2022 Davi.