extends layout 
block content
    .form-row 
    .col.form-group
      a(href="/vehicles/vehicleRegister") Add New Vehicle 
    .pull-right 
    a(href="/home") Finish
    .form-row
      .col.form-group.col-md-12
        .form-row
          table.table
            thead.thead-dark
              tr
                th Number Plate
                th Color
                th Time
                th Date
                th Make
                th Type
                th Package Of Wash
                th Assign To
            tbody
              //- if washes.length 
              //- each wash in washes
              //-   tr 
