* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 101px;
  z-index: 10;
  position: relative;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
}

.header-container {
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.left-nav {
  display: flex;
  height: 100%;
  align-items: center;
}
.left-nav nav ul,
.right-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.left-nav nav ul li,
.right-nav ul li {
  text-transform: uppercase;
  padding-left: 24px;
  font-weight: 700;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.left-nav nav ul li a,
.right-nav ul li a {
  text-decoration: none;
  color: rgb(12, 11, 29);
}

.right-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding-left: 24px;
  font-weight: 700;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.right-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.right-nav ul li .right-nav .add-user,
.log-out {
  padding-right: 24px;
}
