* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 45px;
  z-index: 10;
  position: relative;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
}

.header-container {
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.left-nav {
  display: flex;
  height: 100%;
  align-items: center;
}
.left-nav nav ul,
.right-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.left-nav nav ul li,
.right-nav ul li {
  text-transform: uppercase;
  padding-left: 24px;
  font-weight: 400;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.left-nav nav ul li a,
.right-nav ul li a {
  text-decoration: none;
  color: rgb(12, 11, 29);
}

.right-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding-left: 24px;
  font-weight: 700;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.right-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.right-nav ul li .right-nav .add-user,
.log-out {
  padding-right: 24px;
}

/* From dash.css */
body {
  background: #ecf0f3;
}

.side-bar {
  position: relative;
  /* top: 0;
  left: 0; */
  float: left;
  width: 260px;
  /* width: 300px; */
  height: 88vh;
  background: #ecf0f3;
  padding: 12px;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1,
    inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;
}

.side-bar .title .logo {
  font-size: 27px;
  font-weight: 600;
  color: #31344b;
}

.side-bar ul {
  margin-top: 35px;
  list-style: none;
}

.side-bar ul a {
  color: #31344b;
  text-decoration: none;
  display: block;
  margin-top: 12px;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 25px;
  border-radius: 6px;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
  position: relative;
}

.side-bar ul a:hover::before,
.side-bar ul a:hover::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;
}

.side-bar ul a:hover::before {
  border-radius: 6px;
}

.side-bar.side-bar ul a:hover,
.right-nav ul li a:hover {
  color: #3498db;
}

main {
  float: right;
  position: static;
  height: 800px;
  width: 1420px;
  background: #82a5bd;
}

footer {
  clear: both;
  height: 10px;
  /* width: 1820px; */
  background: darkred;
}
#card-size {
  width: 400px;
  padding: 30px;
  margin-left: 40px;
  cursor: pointer;
  transition: 0.2s;
}

/* #card-g {
  padding: 10px;
  width: 450px;
  cursor: pointer;
  transition: 0.2s;
} */

#card-size:hover,
#card-g:hover {
  transition: ease-in-out 0.5s;
  transform: scale(1.05);
}
.fa-user {
  position: absolute;
  padding-left: 18rem;
  margin-top: -30px;
  color: #03181d;
}
