* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: auto;
}

body {
  height: 60vh;
}

.container-vehicle {
  padding: 100px;
  margin: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: coral; */
}

button {
  width: 30rem;
}

.btn-saveV {
  margin-top: 10px;
  width: 20rem;
  display: flex;
  justify-content: center;
}

.Err {
  font-size: 15px;
  color: red;
}
