* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-washer {
  padding: 100px;
  margin: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 30rem;
}

.btn-save {
  margin-top: 10px;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Err {
  font-size: 15px;
  color: red;
}
